/*!!!!!!!!!!!!!!!!!!!!
You can do CTRL+SHIFT+R to refresh the page wwith no cache!!
!!!!!!!!!!!!!!!!!!!!*/

:root {
    --text: #632d16;
    --background: #4e3429;
    --divAndHeaders: #c38659;
    --borderAndLines: #411b0b;
  }

html{
    background-color: var(--background);
}

body{
    background-color: var(--background);
    color: var(--text);
    font-family: "Tahoma";
}

div{
    background-color: var(--divAndHeaders);
}

/* Want to keep this close to the div background */
.tableColColor{
    background-color: var(--divAndHeaders);
}

#playerPanelInfo td{
    width: 33%;
}

.tdAlignLeft{
    text-align: left;
}

.tdAlignRight{
    text-align: right;
}

h1{
    text-align: center;
    font-weight: bold;
    padding: 15px;
    background-color: var(--background);
}

.sameLine{
    display: inline;
}

.bold{
    font-weight: bold;
}

.generalSpacing{
    padding: 16px;
    margin: 20px;
}

hr{
    border-top: 1px solid var(--text);
}

#tableActiveItemStats td{
    width: 33%;
}

#tableInventory{
    width: 100%;
}

#ddd{
    width: 100%;
}

#ddd td{
    width: 12.5%;
    text-align: center;
}

#ddd td p{
    text-align: center;
}

.borderDiv{
    border: var(--borderAndLines);
    border-radius: 8px;
    border-width: 8px;
    border-style: solid;
}

#container {
    width: 1400px;
    margin-right: auto;
    margin-left: auto;
}

.row{
    margin:auto;
}

#leftPanel{
    display: inline;
    float: left;
    width: 256px;
    height: auto;
}

#rightPanel{
    display: inline;
    float: right;
    width: calc(100% - 340px);
    height: auto;
}

#equipmentPanel{
    display: inline-block;
    width: 45%;
    height: auto;
}

#equipmentStats{
    display: inline-block;
    width: 45%;
    height: auto;
    text-align: left;
}