{% extends 'basePlusNavbar.html' %}

{% block head %}
    <title>Arena</title>
{% endblock %}

{% block body %}
<body class='background_arena'>

    <div id='container'>
        
        <div>
            <div class='infoPanel background border spacing'>
                <div>
                    <img class='iconImg' src='/static/icons/icon_summons.png'>
                    <p><strong>10 / 10</strong></p>
                    <p>(Resets Daily)</p>
                </div>
                
                <div>
                    <img class='iconImg' src='/static/icons/icon_honor.png'>
                    <p>500</p>
                </div>
            </div>

        </div>

        <div>

            <div class='sidePanel background border spacing'>
                
                <img class='resizeImg128' src='/static/avatars/avatar_male1.png'>

                <h4 class='alignCenter'><strong>JaredKills</strong> (1)</h4>
                <h5>Berserker</h5>

                <hr>

                <table class='alignCenter'>
                    <tr>
                        <td>
                            <img class='iconImg' src='/static/icons/icon_honor.png'>
                            <p>370</p>                          
                        </td>
                        <td>
                            <img class='iconImg' src='/static/icons/icon_gold.png'>
                            <p>190</p>
                        </td>
                    </tr>
                </table>

                <hr>

                <table class='leftRightTable'>
                    <tr>
                        <td>
                            <h5>Strength</h5>
                        </td>
                        <td>
                            <p id='playerStrength' class='sameLine'>1</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>Dexterity</h5>
                        </td>
                        <td>
                            <p id='playerDexterity' class='sameLine'>2</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>Intelligence</h5>
                        </td>
                        <td>
                            <p id='playerIntelligence' class='sameLine'>3</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>Constitution</h5>
                        </td>
                        <td>
                            <p id='playerConstitution' class='sameLine'>4</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>Luck</h5>
                        </td>
                        <td>
                            <p id='playerLuck' class='sameLine'>5</p>
                        </td>
                    </tr>
                </table>

                <hr>

                <button class='themeMediumButton'>Fight</button>

            </div>

            <div class='sidePanel background border spacing'>
                
                <img class='resizeImg128' src='/static/avatars/avatar_female3.png'>

                <h4 class='alignCenter'><strong>DeadlyArrow</strong> (4)</h4>
                <h5>Scout</h5>

                <hr>

                <table class='alignCenter'>
                    <tr>
                        <td>
                            <img class='iconImg' src='/static/icons/icon_honor.png'>
                            <p>520</p>                          
                        </td>
                        <td>
                            <img class='iconImg' src='/static/icons/icon_gold.png'>
                            <p>330</p>
                        </td>
                    </tr>
                </table>

                <hr>

                <table class='leftRightTable'>
                    <tr>
                        <td>
                            <h5>Strength</h5>
                        </td>
                        <td>
                            <p id='playerStrength' class='sameLine'>1</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>Dexterity</h5>
                        </td>
                        <td>
                            <p id='playerDexterity' class='sameLine'>2</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>Intelligence</h5>
                        </td>
                        <td>
                            <p id='playerIntelligence' class='sameLine'>3</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>Constitution</h5>
                        </td>
                        <td>
                            <p id='playerConstitution' class='sameLine'>4</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>Luck</h5>
                        </td>
                        <td>
                            <p id='playerLuck' class='sameLine'>5</p>
                        </td>
                    </tr>
                </table>

                <hr>

                <button class='themeMediumButton'>Fight</button>

            </div>

            <div class='sidePanel background border spacing'>
                
                <img class='resizeImg128' src='/static/avatars/avatar_female1.png'>

                <h4 class='alignCenter'><strong>SillyWitch</strong> (3)</h4>
                <h5>Fencer</h5>

                <hr>

                <table class='alignCenter'>
                    <tr>
                        <td>
                            <img class='iconImg' src='/static/icons/icon_honor.png'>
                            <p>470</p>                          
                        </td>
                        <td>
                            <img class='iconImg' src='/static/icons/icon_gold.png'>
                            <p>300</p>
                        </td>
                    </tr>
                </table>

                <hr>

                <table class='leftRightTable'>
                    <tr>
                        <td>
                            <h5>Strength</h5>
                        </td>
                        <td>
                            <p id='playerStrength' class='sameLine'>1</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>Dexterity</h5>
                        </td>
                        <td>
                            <p id='playerDexterity' class='sameLine'>2</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>Intelligence</h5>
                        </td>
                        <td>
                            <p id='playerIntelligence' class='sameLine'>3</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>Constitution</h5>
                        </td>
                        <td>
                            <p id='playerConstitution' class='sameLine'>4</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>Luck</h5>
                        </td>
                        <td>
                            <p id='playerLuck' class='sameLine'>5</p>
                        </td>
                    </tr>
                </table>

                <hr>

                <button class='themeMediumButton'>Fight</button>

            </div>

            <div class='sidePanel background border spacing'>
                
                <img class='resizeImg128' src='/static/avatars/avatar_male2.png'>

                <h4 class='alignCenter'><strong>P00nDoc420</strong> (3)</h4>
                <h5>Fire Mage</h5>

                <hr>

                <table class='alignCenter'>
                    <tr>
                        <td>
                            <img class='iconImg' src='/static/icons/icon_honor.png'>
                            <p>390</p>                          
                        </td>
                        <td>
                            <img class='iconImg' src='/static/icons/icon_gold.png'>
                            <p>290</p>
                        </td>
                    </tr>
                </table>

                <hr>

                <table class='leftRightTable'>
                    <tr>
                        <td>
                            <h5>Strength</h5>
                        </td>
                        <td>
                            <p id='playerStrength' class='sameLine'>1</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>Dexterity</h5>
                        </td>
                        <td>
                            <p id='playerDexterity' class='sameLine'>2</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>Intelligence</h5>
                        </td>
                        <td>
                            <p id='playerIntelligence' class='sameLine'>3</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>Constitution</h5>
                        </td>
                        <td>
                            <p id='playerConstitution' class='sameLine'>4</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>Luck</h5>
                        </td>
                        <td>
                            <p id='playerLuck' class='sameLine'>5</p>
                        </td>
                    </tr>
                </table>

                <hr>

                <button class='themeMediumButton'>Fight</button>

            </div>

        </div>

    </div>
	
{% endblock %}