<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
        <link rel='stylesheet' href='/static/styles.css' />
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        {% block head %}{% endblock %}
    </head>
        {% block navbar %}{% endblock %}
        {% block body %}{% endblock %}
        <div id='loading' class='loadingScreen'>
            <!--<h1>Loading</h1>-->
        </div>
    </body>
    {% block script %}{% endblock %}
    <script>
        window.onload = function() {
            setActiveNavBar()
            document.getElementById('loading').hidden = true
            //document.getElementById('loading').classList.add('loadingScreenFade')
            //window.setTimeout(hideLoadingScreen, 500);
        }

        function hideLoadingScreen(){
            document.getElementById('loading').hidden = true
        }

        function setActiveNavBar(){
            var navBar = document.getElementById('navBarButtons')

            if(navBar == null)
                return

            buttons = navBar.getElementsByTagName('li');

            for(var i=0;i<buttons.length;i++){
                buttons[i].classList = ''

                if(document.title.toLowerCase() == buttons[i].innerText.toLowerCase())
                    buttons[i].classList.add('active')
            }        
        }

    </script>
</html>