{% extends 'base.html' %}

{% block navbar %}
    <nav class="navbar navbar-inverse">
        <div class="container-fluid background">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Noxphor</a>
            </div>
            <ul id='navBarButtons' class="nav navbar-nav">
                <li><a class='nav-link active' href="/dashboard">Dashboard</a></li>
                <li><a href="/quests">Quests</a></li>
                <li><a href="/bounties">Bounties</a></li>
                <li><a href="/dungeons">Dungeons</a></li>
                <li><a href="/arena">Arena</a></li>
                <li><a href="/offerings">Offerings</a></li>
                <li><a href="/leaderboard">Leaderboard</a></li>
                <li><a href="/faq">FAQ</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </nav>
{% endblock %}