{% extends 'basePlusNavbar.html' %}

{% block head %}
    <title>Bounties</title>
{% endblock %}

{% block body %}
<body class='background_bounties'>

    <div id='container'>

        {% if unlocked == true %}

            <div class='infoPanel background border spacing'>

                <img class='iconImg' src='/static/icons/icon_note.png'>
                <p><strong>{{ bountyAttempts }} / 3</strong></p>
                <p>(Resets Daily)</p>

                <h4>Difficulty Modifier</h4>
                <input id='difficultySlider' type='range' min='-10' max='10' value='0' class='slider'>

            </div>

            <div hidden class='popupParent'>
                <div class='background border spacing popupChild'>
                    <h3>You don't have enough bounty attempts</h3>
                    <button id='popupButton' class='themeSmallButton'>Ok Jimmy</button>
                </div>
            </div>

            <div>

                {% for monster in bountyMonsters %}
                    <div class='sidePanel background border spacing'>

                        <div>
                            <img class='resizeImg128' buttonId='{{ monster["bounty_monster_id"] }}' src='/static/bounty_avatars/{{ monster["file_name"] }}'>

                            <h3 class='alignCenter'><strong>{{ monster['monster_name'] }}</strong></h3>
                            <h4 class='alignCenter'><strong>{{ monster['monster_suffix'] }}</strong></h4>
                            <h5 class='alignCenter'>{{ monster['class_name'] }}</h5>
                            <h5 class='alignCenter'>-{{ monster['region_name'] }}-</h5>

                            <hr>

                            <table>
                                <tr>
                                    <td>
                                        <img class='iconImg' src='/static/icons/icon_gold.png'>
                                        {% if loop.index0 == 0 %}
                                            <p id='bounty{{loop.index0}}gold' class='textGreen'>{{ monster['gold'] }}</p>
                                        {% else %}
                                            <p id='bounty{{loop.index0}}gold'>{{ monster['gold'] }}</p>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <img class='iconImg' src='/static/icons/icon_xp.png'>
                                        {% if loop.index0 == 1 %}
                                            <p id='bounty{{loop.index0}}xp' class='textGreen'>{{ monster['xp'] }}</p>
                                        {% else %}
                                            <p id='bounty{{loop.index0}}xp'>{{ monster['xp'] }}</p>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img class='iconImg' src='/static/icons/icon_loot.png'>
                                        {% if loop.index0 == 2 %}
                                            <p id='bounty{{loop.index0}}dropChance' class='textGreen'>{{ monster['drop_chance'] * 100 }}</p>%
                                        {% else %}
                                            <p id='bounty{{loop.index0}}dropChance'>{{ monster['drop_chance'] * 100 }}</p>%
                                        {% endif %}
                                    </td>
                                    <td>
                                        <img class='iconImg' src='/static/icons/icon_time.png'>
                                        <p id='bounty{{loop.index0}}time'>{{ monster['travel_time'] }}</p>
                                    </td>
                                </tr>
                            </table>

                            {% if loop.index0 == 0 %}
                                <h5><strong>Bonus:</strong> 50% More Gold</h5>
                            {% elif loop.index0 == 1 %}
                                <h5><strong>Bonus:</strong> 50% More Exp</h5>
                            {% else %}
                                <h5><strong>Bonus:</strong> 100% Drop Chance</h5>
                            {% endif %}

                            <table class='leftRightTable'>
                                <tr>
                                    <td><h5>Strength</h5></td>
                                    <td><p id='bounty{{loop.index0}}strength'>{{ monster['strength'] }}</p></td>
                                </tr>
                                <tr>
                                    <td><h5>Dexterity</h5></td>
                                    <td><p id='bounty{{loop.index0}}dexterity'>{{ monster['dexterity'] }}</p></td>
                                </tr>
                                <tr>
                                    <td><h5>Intelligence</h5></td>
                                    <td><p id='bounty{{loop.index0}}intelligence'>{{ monster['intelligence'] }}</p></td>
                                </tr>
                                <tr>
                                    <td><h5>Constitution</h5></td>
                                    <td><p id='bounty{{loop.index0}}constitution'>{{ monster['constitution'] }}</p></td>
                                </tr>
                                <tr>
                                    <td><h5>Luck</h5></td>
                                    <td><p id='bounty{{loop.index0}}luck'>{{ monster['luck'] }}</p></td>
                                </tr>
                            </table>

                        </div>
                    </div>
                {% endfor %}

            </div>

        {% else %}

            <div class='popupParent'>
                <div class='background border spacing popupChild'>
                    <h3>You need to be level 10</h3>
                </div>
            </div>

        {% endif %}

    </div>

{% endblock %}

{% block script %}

<script type='text/javascript' src='{{ url_for("static", filename="jquery.js") }}'></script>

<script>

    var bountyMonsters = {{ bountyMonsters|tojson|safe }}

    //Add functionality to the slider
    document.getElementById('difficultySlider').oninput = function(){ updateDifficulty(this.value)}


    //Handles the difficulty multiplier for each of the changable stats
    function updateDifficulty(val){

        //Val is from -10 to 10 - and the multiplier is (val / 100). Max is -10% or +10%. This makes it so it's -20% or +20%
        var multiplier = val * 2
        var attributes = ['gold', 'xp', 'strength', 'dexterity', 'intelligence', 'constitution', 'luck']

        for (var i=0; i<3; i++) {
            for(var j=0; j<attributes.length; j++){
                var element = document.getElementById('bounty' + i + attributes[j])
                element.innerText = Math.floor(bountyMonsters[i][attributes[j]] * (1 + (multiplier/100)))
            }
        }
    }

    //Ajax post call
    $(function() {

        $('#popupButton').on('click', function(){
            $('.popupParent').attr('hidden', true);
        });

        $('.resizeImg128').on('click', function(){
            var monsterId = $(this).attr('buttonId');

            $.ajax({
                type: 'POST',
                url: '{{ url_for("startBounty") }}',
                data: {'monsterId': monsterId, 'multiplier': document.getElementById('difficultySlider').value * 2},
                complete: function (textStatus) {
                    status = textStatus.status
                    //console.log(status)

                    if(status == 201)
                        $('.popupParent').removeAttr('hidden');
                    else if(status == 202)
                        window.location = '{{ url_for("travel") }}';
                    else if(status == 203)
                        window.location = '{{ url_for("travel") }}';
                }
            });
        });
    })

</script>
{% endblock %}