{% extends 'base.html' %}

{% block head %}
    <title>Character Creation</title>
{% endblock %}

<body>
{% block body %}

    <div class='header border spacing'>
        <h1>Character Creation</h1>
    </div>

    <div id='container' class='alignCenter' style='width: 1600px'>

        <div id='pickClassSection'>

            <div class='header border spacing'>
                <h3 id='classHeader' class='textColor'>Class Selection</h3>
            </div>
            
            <div class='spacing'>
                <button class='themeBigButton'>BACK</button>
            </div>

            <div>
                <div class='background border spacing' onclick='alert("ddd")'>
                    <img id='playerAvatar' class='resizeImg128' style='border: 0px' src='/static/classes/class_warrior.png'>
                    <h3 class='alignCenter'>Warrior</h3>
                    <hr>
                    <p>Main Attribute: <strong>Strength</strong></p>
                    <p>Max Armor Reduction: <strong>30%</strong></p>
                    <p>Health Multiplier: <strong>5x</strong></p>
                    <hr>
                    <p>The warrior has a 50% chance to block an attack when wearing a shield</p>
                </div>
                <div class='background border spacing' onclick='alert("ddd")'>
                    <img id='playerAvatar' class='resizeImg128' style='border: 0px' src='/static/classes/class_berserker.png'>
                    <h3 class='alignCenter'>Berserker</h3>
                    <hr>
                    <p>Main Attribute: <strong>Strength</strong></p>
                    <p>Max Armor Reduction: <strong>25%</strong></p>
                    <p>Health Multiplier: <strong>4x</strong></p>
                    <hr>
                    <p>The berserker has a 50% chance to hit an additional attack. Due to this, the berserker takes 2x damage from magic</p>
                </div>
                <div class='background border spacing' onclick='alert("ddd")'>
                    <img id='playerAvatar' class='resizeImg128' style='border: 0px' src='/static/classes/class_magic_knight.png'>
                    <h3 class='alignCenter'>Magic Knight</h3>
                    <hr>
                    <p>Main Attribute: <strong>Strength</strong></p>
                    <p>Max Armor Reduction: <strong>25%</strong></p>
                    <p>Health Multiplier: <strong>4x</strong></p>
                    <hr>
                    <p>The berserker has a 50% chance to hit an additional attack. Due to this, the berserker takes 2x damage from magic</p>
                </div>
                <div class='background border spacing' onclick='alert("ddd")'>
                    <img id='playerAvatar' class='resizeImg128' style='border: 0px' src='/static/classes/class_fencer.png'>
                    <h3 class='alignCenter'>Fencer</h3>
                    <hr>
                    <p>Main Attribute: <strong>Strength</strong></p>
                    <p>Max Armor Reduction: <strong>25%</strong></p>
                    <p>Health Multiplier: <strong>4x</strong></p>
                    <hr>
                    <p>The berserker has a 50% chance to hit an additional attack. Due to this, the berserker takes 2x damage from magic</p>
                </div>
            </div>
            <div>
                <div class='background border spacing' onclick='alert("ddd")'>
                    <img id='playerAvatar' class='resizeImg128' style='border: 0px' src='/static/classes/class_frost_mage.png'>
                    <h3 class='alignCenter'>Frost Mage</h3>
                    <hr>
                    <p>Main Attribute: <strong>Strength</strong></p>
                    <p>Max Armor Reduction: <strong>25%</strong></p>
                    <p>Health Multiplier: <strong>4x</strong></p>
                    <hr>
                    <p>The berserker has a 50% chance to hit an additional attack. Due to this, the berserker takes 2x damage from magic</p>
                </div>
                <div class='background border spacing' onclick='alert("ddd")'>
                    <img id='playerAvatar' class='resizeImg128' style='border: 0px' src='/static/classes/class_fire_mage.png'>
                    <h3 class='alignCenter'>Fire Mage</h3>
                    <hr>
                    <p>Main Attribute: <strong>Strength</strong></p>
                    <p>Max Armor Reduction: <strong>25%</strong></p>
                    <p>Health Multiplier: <strong>4x</strong></p>
                    <hr>
                    <p>The berserker has a 50% chance to hit an additional attack. Due to this, the berserker takes 2x damage from magic</p>
                </div>
                <div class='background border spacing' onclick='alert("ddd")'>
                    <img id='playerAvatar' class='resizeImg128' style='border: 0px' src='/static/classes/class_dark_mage.png'>
                    <h3 class='alignCenter'>Dark Mage</h3>
                    <hr>
                    <p>Main Attribute: <strong>Strength</strong></p>
                    <p>Max Armor Reduction: <strong>25%</strong></p>
                    <p>Health Multiplier: <strong>4x</strong></p>
                    <hr>
                    <p>The berserker has a 50% chance to hit an additional attack. Due to this, the berserker takes 2x damage from magic</p>
                </div>
                <div class='background border spacing' onclick='alert("ddd")'>
                    <img id='playerAvatar' class='resizeImg128' style='border: 0px' src='/static/classes/class_blood_mage.png'>
                    <h3 class='alignCenter'>Blood Mage</h3>
                    <hr>
                    <p>Main Attribute: <strong>Strength</strong></p>
                    <p>Max Armor Reduction: <strong>25%</strong></p>
                    <p>Health Multiplier: <strong>4x</strong></p>
                    <hr>
                    <p>The berserker has a 50% chance to hit an additional attack. Due to this, the berserker takes 2x damage from magic</p>
                </div>
            </div>
            <div>
                <div class='background border spacing' onclick='alert("ddd")'>
                    <img id='playerAvatar' class='resizeImg128' style='border: 0px' src='/static/classes/class_scout.png'>
                    <h3 class='alignCenter'>Scout</h3>
                    <hr>
                    <p>Main Attribute: <strong>Strength</strong></p>
                    <p>Max Armor Reduction: <strong>25%</strong></p>
                    <p>Health Multiplier: <strong>4x</strong></p>
                    <hr>
                    <p>The berserker has a 50% chance to hit an additional attack. Due to this, the berserker takes 2x damage from magic</p>
                </div>
                <div class='background border spacing' onclick='alert("ddd")'>
                    <img id='playerAvatar' class='resizeImg128' style='border: 0px' src='/static/classes/class_rogue.png'>
                    <h3 class='alignCenter'>Rogue</h3>
                    <hr>
                    <p>Main Attribute: <strong>Strength</strong></p>
                    <p>Max Armor Reduction: <strong>25%</strong></p>
                    <p>Health Multiplier: <strong>4x</strong></p>
                    <hr>
                    <p>The berserker has a 50% chance to hit an additional attack. Due to this, the berserker takes 2x damage from magic</p>
                </div>
                <div class='background border spacing' onclick='alert("ddd")'>
                    <img id='playerAvatar' class='resizeImg128' style='border: 0px' src='/static/classes/class_demon_hunter.PNG'>
                    <h3 class='alignCenter'>Demon Hunter</h3>
                    <hr>
                    <p>Main Attribute: <strong>Strength</strong></p>
                    <p>Max Armor Reduction: <strong>25%</strong></p>
                    <p>Health Multiplier: <strong>4x</strong></p>
                    <hr>
                    <p>The berserker has a 50% chance to hit an additional attack. Due to this, the berserker takes 2x damage from magic</p>
                </div>
                <div class='background border spacing' onclick='alert("ddd")'>
                    <img id='playerAvatar' class='resizeImg128' style='border: 0px' src='/static/classes/class_assassin.png'>
                    <h3 class='alignCenter'>Assassin</h3>
                    <hr>
                    <p>Main Attribute: <strong>Strength</strong></p>
                    <p>Max Armor Reduction: <strong>25%</strong></p>
                    <p>Health Multiplier: <strong>4x</strong></p>
                    <hr>
                    <p>The berserker has a 50% chance to hit an additional attack. Due to this, the berserker takes 2x damage from magic</p>
                </div>
            </div>
        </div>



    </div>
	
{% endblock %}