{% extends 'base.html' %}

{% block head %}
    <title>Character Creation</title>
{% endblock %}

<body>
{% block body %}

    <div class='header border spacing'>
        <h1>Character Creation</h1>
    </div>

    <div id='container' class='alignCenter' style='width: 1600px'>

        <div id='pickClassSection'>

            <div class='header border spacing'>
                <h3 id='classHeader' class='textColor'>Class Selection</h3>
            </div>
            
            <div class='spacing'>
                <button class='themeBigButton'>BACK</button>
            </div>

            <div>
                <div class='background border spacing' onclick='alert("ddd")'>
                    <img id='playerAvatar' class='resizeImg128' style='border: 0px' src='/static/classes/class_warrior.png'>
                    <h3 class='alignCenter'>Warrior</h3>
                    <hr>
                    <p>Main Attribute: <strong>Strength</strong></p>
                    <p>Max Armor Reduction: <strong>30%</strong></p>
                    <p>Health Multiplier: <strong>5x</strong></p>
                    <hr>
                    <p style='color:red'>Can only equip shields in your off-hand</p>
                    <p>The warrior has a 50% chance to block an attack when wearing a shield</p>
                </div>
                <div class='background border spacing' onclick='alert("ddd")'>
                    <img id='playerAvatar' class='resizeImg128' style='border: 0px' src='/static/classes/class_berserker.png'>
                    <h3 class='alignCenter'>Berserker</h3>
                    <hr>
                    <p>Main Attribute: <strong>Strength</strong></p>
                    <p>Max Armor Reduction: <strong>25%</strong></p>
                    <p>Health Multiplier: <strong>4x</strong></p>
                    <hr>
                    <p style='color:red'>Takes 2x damage from magic</p>
                    <p>The berserker has a 50% chance to hit an additional attack</p>
                </div>
                <div class='background border spacing' onclick='alert("ddd")'>
                    <img id='playerAvatar' class='resizeImg128' style='border: 0px' src='/static/classes/class_magic_knight.png'>
                    <h3 class='alignCenter'>Magic Knight</h3>
                    <hr>
                    <p>Main Attribute: <strong>Strength</strong></p>
                    <p>Max Armor Reduction: <strong>20%</strong></p>
                    <p>Health Multiplier: <strong>4x</strong></p>
                    <hr>
                    <p style='color:red'>Only uses one (one-handed) weapon</p>
                    <p>For every successful hit, drop the foes armor reduction by 2.5%</p>
                </div>
                <div class='background border spacing' onclick='alert("ddd")'>
                    <img id='playerAvatar' class='resizeImg128' style='border: 0px' src='/static/classes/class_fencer.png'>
                    <h3 class='alignCenter'>Fencer</h3>
                    <hr>
                    <p>Main Attribute: <strong>Strength</strong></p>
                    <p>Max Armor Reduction: <strong>20%</strong></p>
                    <p>Health Multiplier: <strong>3x</strong></p>
                    <hr>
                    <p style='color:red'>Only uses one (one-handed) weapon</p>
                    <p>Has an additional 25% critical chance (increases max to 75%). Drops the evasion rating of foes by 15%</p>
                </div>
            </div>
            <div>
                <div class='background border spacing' onclick='alert("ddd")'>
                    <img id='playerAvatar' class='resizeImg128' style='border: 0px' src='/static/classes/class_frost_mage.png'>
                    <h3 class='alignCenter'>Frost Mage</h3>
                    <hr>
                    <p>Main Attribute: <strong>Intelligence</strong></p>
                    <p>Max Armor Reduction: <strong>15%</strong></p>
                    <p>Health Multiplier: <strong>3x</strong></p>
                    <hr>
                    <p style='color:red'>Your magic attacks cannot be blocked or dodged</p>
                    <p>Has an icy aura. Drops the evasion rating of foes by 25%</p>
                </div>
                <div class='background border spacing' onclick='alert("ddd")'>
                    <img id='playerAvatar' class='resizeImg128' style='border: 0px' src='/static/classes/class_fire_mage.png'>
                    <h3 class='alignCenter'>Fire Mage</h3>
                    <hr>
                    <p>Main Attribute: <strong>Intelligence</strong></p>
                    <p>Max Armor Reduction: <strong>10%</strong></p>
                    <p>Health Multiplier: <strong>2x</strong></p>
                    <hr>
                    <p style='color:red'>Your magic attacks cannot be blocked or dodged</p>
                    <p>Every attack applies a burn, which increases 10% of base damage each hit</p>
                </div>
                <div class='background border spacing' onclick='alert("ddd")'>
                    <img id='playerAvatar' class='resizeImg128' style='border: 0px' src='/static/classes/class_dark_mage.png'>
                    <h3 class='alignCenter'>Dark Mage</h3>
                    <hr>
                    <p>Main Attribute: <strong>Intelligence</strong></p>
                    <p>Max Armor Reduction: <strong>10%</strong></p>
                    <p>Health Multiplier: <strong>2x</strong></p>
                    <hr>
                    <p style='color:red'>Your magic attacks cannot be blocked or dodged</p>
                    <p>On each hit, you have a 50% chance to steal a third of your base damage as health</p>
                </div>
                <div class='background border spacing' onclick='alert("ddd")'>
                    <img id='playerAvatar' class='resizeImg128' style='border: 0px' src='/static/classes/class_blood_mage.png'>
                    <h3 class='alignCenter'>Blood Mage</h3>
                    <hr>
                    <p>Main Attribute: <strong>Intelligence</strong></p>
                    <p>Max Armor Reduction: <strong>10%</strong></p>
                    <p>Health Multiplier: <strong>2x</strong></p>
                    <hr>
                    <p style='color:red'>Your magic attacks cannot be blocked or dodged</p>
                    <p>Instead of dealing damage, critical hits heal you for half of the base damage. If the foe is a mage, healing is doubled</p>
                </div>
            </div>
            <div>
                <div class='background border spacing' onclick='alert("ddd")'>
                    <img id='playerAvatar' class='resizeImg128' style='border: 0px' src='/static/classes/class_scout.png'>
                    <h3 class='alignCenter'>Scout</h3>
                    <hr>
                    <p>Main Attribute: <strong>Dexterity</strong></p>
                    <p>Max Armor Reduction: <strong>20%</strong></p>
                    <p>Health Multiplier: <strong>4x</strong></p>
                    <hr>
                    <p style='color:red'>Reflexes: You have a 50% chance to evade physical attacks</p>
                    <p>Critical chance is increased by 25% against mages and 15% against melee foes</p>
                </div>
                <div class='background border spacing' onclick='alert("ddd")'>
                    <img id='playerAvatar' class='resizeImg128' style='border: 0px' src='/static/classes/class_rogue.png'>
                    <h3 class='alignCenter'>Rogue</h3>
                    <hr>
                    <p>Main Attribute: <strong>Dexterity</strong></p>
                    <p>Max Armor Reduction: <strong>15%</strong></p>
                    <p>Health Multiplier: <strong>3x</strong></p>
                    <hr>
                    <p style='color:red'>Reflexes: You have a 50% chance to evade physical attacks</p>
                    <p>Can wield two melee weapons - striking twice on each hit</p>
                </div>
                <div class='background border spacing' onclick='alert("ddd")'>
                    <img id='playerAvatar' class='resizeImg128' style='border: 0px' src='/static/classes/class_demon_hunter.PNG'>
                    <h3 class='alignCenter'>Demon Hunter</h3>
                    <hr>
                    <p>Main Attribute: <strong>Dexterity</strong></p>
                    <p>Max Armor Reduction: <strong>25%</strong></p>
                    <p>Health Multiplier: <strong>3x</strong></p>
                    <hr>
                    <p>Wears warrior equipment but uses ranged weapons. Has a 25% chance of restoring all hitpoints when killed</p>
                </div>
                <div class='background border spacing' onclick='alert("ddd")'>
                    <img id='playerAvatar' class='resizeImg128' style='border: 0px' src='/static/classes/class_assassin.png'>
                    <h3 class='alignCenter'>Assassin</h3>
                    <hr>
                    <p>Main Attribute: <strong>Dexterity</strong></p>
                    <p>Max Armor Reduction: <strong>15%</strong></p>
                    <p>Health Multiplier: <strong>3x</strong></p>
                    <hr>
                    <p style='color:red'>Reflexes: You have a 50% chance to evade physical attacks</p>
                    <p>Your max critical chance is increased by 25%. Your critical hits deal 3x damage instead of 2x</p>
                </div>
            </div>
        </div>



    </div>
	
{% endblock %}