{% extends 'basePlusNavbar.html' %}

{% block head %}
    <title>Dashboard</title>
{% endblock %}

{% block body %}
    <div class='header border spacing'>
        <h1>Dashboard</h1>
    </div>

    <div id='container'>

        <!-- LEFT PANEL -->
        <div class='sidePanel background border spacing'>
            
            <img class='resizeImg128' src='/static/avatars/{{ user["avatarName"] }}'>

            <!-- Player Info Panel -->
            <div id='playerInfo'>
                <h3 class='alignCenter'><strong>{{ user['displayName'] }}</strong></h3>

                <hr>

                <div>
                    <table id='playerPanelInfo'>
                        <tr>
                            <td><h5>Class </h5></td>
                            <td><p>{{ user['className'] }}</p></td>
                        </tr>
                        <tr>
                            <td><h5>Level </h5></td>
                            <td><p>{{ user['playerLevel'] }}</p></td>
                        </tr>
                        <tr>
                            <td><h5>Exp Left </h5></td>
                            <td><p>{{ user['expUntilLevel'] }}</p></td>
                        </tr>
                        <tr>
                            <td><h5>Gold </h5></td>
                            <td><p id='playerGold'>{{ user['gold'] }}</p></td>
                        </tr>
                        <tr>
                            <td><h5>Stamina </h5></td>
                            <td><p>{{ user['stamina'] }}</p></td>
                        </tr>
                    </table>
                </div>
            </div>

            <hr>

            <div>
                <table class='attributePanel'>
                    <tr>
                        <td class='alignLeft'>
                            <button onclick='showPopupDiv("playerStrength")'>?</button>
                            <button onclick='increaseAttribute("playerStrength")'>+</button>
                            <h5>Strength</h5>
                        </td>
                        <td class='alignRight'>
                            <p id='playerStrength' class='sameLine'>{{ user['baseStrength'] }}</p>
                            <p class='sameLine textGreen'>(+0)</p>
                        </td>
                    </tr>
                    <tr>
                        <td class='alignLeft'>
                            <button class='sameLine themePlusButton' onmouseover="myFunction()" onmouseleave='myFunction2()'>?</button>
                            <button class='sameLine themePlusButton' onmouseover="myFunction()" onmouseleave='myFunction2()'>+</button>
                            <h5 class='sameLine tableColColor'>Dexterity</h5>
                        </td>
                        <td class='alignRight'>
                            <p id='player_class' class='sameLine' style='margin-left: 10px;'>{{ user['baseDexterity'] }}</p>
                            <p class='sameLine' style='color:green'>(+0)</p>
                        </td>
                    </tr>
                    <tr>
                        <td class='alignLeft'>
                            <button class='sameLine themePlusButton' onmouseover="myFunction()" onmouseleave='myFunction2()'>?</button>
                            <button class='sameLine themePlusButton' onmouseover="myFunction()" onmouseleave='myFunction2()'>+</button>
                            <h5 class='sameLine'>Intelligence</h5>
                        </td>
                        <td class='alignRight'>
                            <p id='player_class' class='sameLine' style='margin-left: 10px;'>{{ user['baseIntelligence'] }}</p>
                            <p class='sameLine' style='color:green'>(+0)</p>
                        </td>
                    </tr>
                    <tr>
                        <td class='alignLeft'>
                            <button class='sameLine themePlusButton' onmouseover="myFunction()" onmouseleave='myFunction2()'>?</button>
                            <button class='sameLine themePlusButton' onmouseover="myFunction()" onmouseleave='myFunction2()'>+</button>
                            <h5 class='sameLine tableColColor'>Constitution</h5>
                        </td>
                        <td class='alignRight'>
                            <p id='player_class' class='sameLine' style='margin-left: 10px;'>{{ user['baseConstitution'] }}</p>
                            <p class='sameLine' style='color:green'>(+0)</p>
                        </td>
                    </tr>
                    <tr>
                        <td class='alignLeft'>
                            <button class='sameLine themePlusButton' onmouseover="myFunction()" onmouseleave='myFunction2()'>?</button>
                            <button class='sameLine themePlusButton' onmouseover="myFunction()" onmouseleave='myFunction2()'>+</button>
                            <h5 class='sameLine'>Luck</h5>
                        </td>
                        <td class='alignRight'>
                            <p id='player_class' class='sameLine' style='margin-left: 10px;'>{{ user['baseLuck'] }}</p>
                            <p class='sameLine' style='color:green'>(+0)</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <!-- Main Panel -->
        <div class='mainPanel background border spacing'>

            <h3 class='header'>Worn Items</h3>

            <hr>

            <div class='inventory'>
                <div>
                    <img src='/static/slots/slot_helmet.png'>
                    <img src='/static/slots/slot_chest.png'>
                    <img src='/static/slots/slot_legs.png'>
                    <img src='/static/slots/slot_gloves.png'>
                    <img src='/static/slots/slot_boots.png'>
                    <img src='/static/weapons/axe2.png'>
                    <img src='/static/weapons/axe3.png'>
                </div>
            </div>

            <hr>

            <h3 class='header'>Inventory</h3>

            <hr>

            <div class='inventory'>
                <div>
                    <img src='/static/weapons/dagger1.png'>
                    <img src='/static/weapons/dagger2.png'>
                    <img src='/static/weapons/maul1.png'>
                    <img src='/static/weapons/axe2.png'>
                    <img src='/static/weapons/dagger1.png'>
                    <img src='/static/weapons/maul2.png'>
                </div>
                <div>
                    <img src='/static/weapons/dagger1.png'>
                    <img src='/static/weapons/dagger1.png'>
                </div>
            </div>

        </div>

        <!-- RIGHT PANEL -->
        <div class='sidePanel background border spacing'>

            <!-- Player Stats Panel -->
            <div class='alignCenter'>
                
                <h3>Player Stats</h3>

                <hr>

                <h5 class='tableColColor'>Players Killed </h5>
                <p id='player_class'>{{ user['playersKilled'] }}</p>

                <h5 class='tableColColor'>Monsters Killed </h5>
                <p id='player_class'>{{ user['monstersKilled'] }}</p>

                <h5 class='tableColColor'>Gold Collected </h5>
                <p id='player_class'>{{ user['goldCollected'] }}</p>

                <h5 class='tableColColor'>Quests Done </h5>
                <p id='player_class'>{{ user['questsDone'] }}</p>
            </div>

        </div>
        
    </div>
    
{% endblock %}

{% block script %}
<script>

    function increaseAttribute(id) {
        var attributeLevel = document.getElementById(id).innerText
        var costToUpgrade = parseInt(attributeLevel) * -10

        updateInnerText('playerGold', costToUpgrade)
        updateInnerText(id, 1)
    }

    function updateInnerText(id, increaseBy) {
        var element = document.getElementById(id)
        var current = parseInt(element.innerText)

        if(typeof(current) !== 'number')
            return

        element.innerText = current + increaseBy
    }

</script>
{% endblock %}