{% extends 'basePlusNavbar.html' %}

{% block head %}
    <title>Dashboard</title>
{% endblock %}

{% block body %}
    <div class='header border spacing'>
        <h1>Dashboard</h1>
    </div>

    <div id='container'>

        <!-- LEFT PANEL -->
        <div class='sidePanel background border spacing'>
            
            <img class='resizeImg128' src='/static/avatars/{{ user["avatarName"] }}'>

            <!-- Player Info Panel -->
            <div id='playerInfo'>
                <h3 class='alignCenter'><strong>{{ user['displayName'] }}</strong></h3>

                <hr>

                <div>
                    <table id='playerPanelInfo'>
                        <tr>
                            <td><h5>Class </h5></td>
                            <td><p id='player_class'>{{ user['className'] }}</p></td>
                        </tr>
                        <tr>
                            <td><h5>Level </h5></td>
                            <td><p id='player_class'>{{ user['playerLevel'] }}</p></td>
                        </tr>
                        <tr>
                            <td><h5>Exp Left </h5></td>
                            <td><p id='player_class'>{{ user['expUntilLevel'] }}</p></td>
                        </tr>
                        <tr>
                            <td><h5>Gold </h5></td>
                            <td><p id='player_class'>{{ user['gold'] }}</p></td>
                        </tr>
                        <tr>
                            <td><h5>Stamina </h5></td>
                            <td><p id='player_class'>{{ user['stamina'] }}</p></td>
                        </tr>
                    </table>
                </div>
            </div>

            <hr>

            <div class='alignLeft'>
                <table>
                    <tr>
                        <td class='alignLeft'>
                            <button class='sameLine themePlusButton' onmouseover="myFunction()" onmouseleave='myFunction2()'>?</button>
                            <button class='sameLine themePlusButton' onmouseover="myFunction()" onmouseleave='myFunction2()'>+</button>
                            <h5 class='sameLine tableColColor'>Luck</h5>
                        </td>
                        <td class='alignRight'>
                            <p id='player_class' class='sameLine' style='margin-left: 10px;'>{{ user['baseLuck'] }}</p>
                            <p class='sameLine' style='color:green'>(+122)</p>
                        </td>
                    </tr>
                </table>

                <ul style='overflow-x:hidden;
                white-space:nowrap; 
                width: 100%;'>
                    <li class='alignLeft sameLine'>
                        <button class='sameLine themePlusButton' onmouseover="myFunction()" onmouseleave='myFunction2()'>+</button>
                        <h5 class='sameLine'>Strength</h5>
                    </li>
                    <li class='alignRight sameLine'>
                        <p id='player_class' class='tableColColor'>{{ user['baseStrength'] }}</p>
                    </li>
                </ul>

                <button class='sameLine themePlusButton' onmouseover="myFunction()" onmouseleave='myFunction2()'>+</button>
                <h5 class='sameLine tableColColor'>Dexterity</h5>
                <p id='player_class'>{{ user['baseDexterity'] }}</p>

                <button class='sameLine themePlusButton' onmouseover="myFunction()" onmouseleave='myFunction2()'>+</button>
                <h5 class='sameLine tableColColor'>Intelligence</h5>
                <p id='player_class'>{{ user['baseIntelligence'] }}</p>

                <button class='sameLine themePlusButton' onmouseover="myFunction()" onmouseleave='myFunction2()'>+</button>
                <h5 class='sameLine tableColColor'>Constitution</h5>
                <p id='player_class'>{{ user['baseConstitution'] }}</p>

                <button class='sameLine themePlusButton' onmouseover="myFunction()" onmouseleave='myFunction2()'>?</button>
                <button class='sameLine themePlusButton' onmouseover="myFunction()" onmouseleave='myFunction2()'>+</button>
                <h5 class='sameLine tableColColor'>Luck</h5>
                <p id='player_class' class='sameLine' style='margin-left: 10px;'>{{ user['baseLuck'] }}</p>
                <p class='sameLine' style='color:green'>(+122)</p>
            </div>
        </div>

        <!-- Main Panel -->
        <div class='mainPanel background border spacing'>

            <h3 class='header'>Worn Items</h3>

            <hr>

            <div class='inventory'>
                <div class='equipmentSlots'>
                    <img src='/static/slots/slot_helmet.png'>
                    <img src='/static/slots/slot_chest.png'>
                    <img src='/static/slots/slot_legs.png'>
                    <img src='/static/slots/slot_gloves.png'>
                    <img src='/static/slots/slot_boots.png'>
                    <img src='/static/slots/slot_weapon.png'>
                    <img src='/static/slots/slot_offhand.png'>
                </div>
                <div>
                    <img src='/static/weapons/axe1.png'>
                    <img src='/static/weapons/axe2.png'>
                    <img src='/static/weapons/dagger1.png'>
                    <img src='/static/weapons/dagger2.png'>
                    <img src='/static/weapons/dagger3.png'>
                    <img src='/static/weapons/axe2.png'>
                    <img src='/static/weapons/axe3.png'>
                </div>
            </div>

            <hr>

            <h3 class='header'>Inventory</h3>

            <hr>

            <div class='inventory'>
                <div>
                    <img src='/static/weapons/dagger1.png'>
                    <img src='/static/weapons/dagger2.png'>
                    <img src='/static/weapons/maul1.png'>
                    <img src='/static/weapons/axe2.png'>
                    <img src='/static/weapons/dagger1.png'>
                    <img src='/static/weapons/maul2.png'>
                </div>
                <div>
                    <img src='/static/weapons/dagger2.png'>
                    <img src='/static/weapons/axe1.png'>
                    <img src='/static/weapons/maul3.png'>
                    <img src='/static/weapons/dagger1.png'>
                    <img src='/static/weapons/axe3.png'>
                    <img src='/static/weapons/dagger1.png'>
                </div>
                <div>
                    <img class='backgroundDark' src='/static/slots/lock.png'>
                    <img class='backgroundDark' src='/static/slots/lock.png'>
                    <img class='backgroundDark' src='/static/slots/lock.png'>
                    <img class='backgroundDark' src='/static/slots/lock.png'>
                    <img class='backgroundDark' src='/static/slots/lock.png'>
                    <img class='backgroundDark' src='/static/slots/lock.png'>
                </div>
            </div>

        </div>

        <!-- RIGHT PANEL -->
        <div class='sidePanel background border spacing'>

            <!-- Player Stats Panel -->
            <div class='alignCenter'>
                
                <h3>Player Stats</h3>

                <hr>

                <h5 class='tableColColor'>Players Killed </h5>
                <p id='player_class'>{{ user['playersKilled'] }}</p>

                <h5 class='tableColColor'>Monsters Killed </h5>
                <p id='player_class'>{{ user['monstersKilled'] }}</p>

                <h5 class='tableColColor'>Gold Collected </h5>
                <p id='player_class'>{{ user['goldCollected'] }}</p>

                <h5 class='tableColColor'>Quests Done </h5>
                <p id='player_class'>{{ user['questsDone'] }}</p>
            </div>

        </div>
        
    </div>
    
{% endblock %}

{% block script %}
    <script>
        function myFunction() {
            var popup = document.getElementById("myPopup");
            popup.classList.toggle("show");
        }
        function myFunction2() {
            var popup = document.getElementById("myPopup");
            popup.classList.toggle("show");
        }
    </script>
{% endblock %}