{% extends 'basePlusNavbar.html' %}

{% block head %}
    <title>Dungeons</title>
{% endblock %}

{% block body %}
<body class='background_dungeons'>

    <div id='container'>

        <div>
            <div class='infoPanel background border spacing'>
                <img class='iconImg' src='/static/icons/icon_key.png'>
                <p><strong>{{ dungeonAttempts }} / 5</strong></p>
                <p>(Resets Daily)</p>
            </div>
        </div>

        <div hidden class='popupParent'>
            <div class='background border spacing popupChild'>
                <h3>You don't have enough dungeon keys</h3>
                <button id='popupButton' class='themeSmallButton'>Go Away</button>
            </div>
        </div>

        <div>

            {% for monster in dungeonMonsters %}
                <div class='sidePanel background border spacing'>
                    <div>
                        {% if monster['dungeon_tier'] == 1 %}
                            <h4 class='alignCenter'><strong>Forgotten Dungeon</strong></h4>
                        {% elif monster['dungeon_tier'] == 2 %}
                            <h4 class='alignCenter'><strong>Magical Dungeon</strong></h4>
                        {% elif monster['dungeon_tier'] == 3 %}
                            <h4 class='alignCenter'><strong>Dark Dungeon</strong></h4>
                        {% elif monster['dungeon_tier'] == 4 %}
                            <h4 class='alignCenter'><strong>Mystical Dungeon</strong></h4>
                        {% endif %}
                        <h5 class='alignCenter'><strong>Floor</strong> {{ monster['dungeon_floor'] }} / 13</h5>

                        <hr>

                        <img class='resizeImg128' dungeonTier='{{ monster["dungeon_tier"] }}' src='/static/dungeon_avatars/{{ monster["file_name"] }}'>

                        <h3 class='alignCenter'><strong>{{ monster['monster_name'] }}</strong> ({{ monster['monster_level'] }})</h3>
                        <h5 class='alignCenter'><strong>{{ monster['class_name'] }}</strong></h5>

                        <hr>

                        <table class='alignCenter'>
                            <tr>
                                <td>
                                    <img class='iconImg' src='/static/icons/icon_gold.png'>
                                    <p>{{ monster["gold"] }}</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img class='iconImg' src='/static/icons/icon_xp.png'>
                                    <p>{{ monster["xp"] }}</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img class='iconImg' src='/static/icons/icon_loot.png'>
                                    <p>1</p>
                                </td>
                            </tr>
                        </table>

                        <hr>

                        <table class='leftRightTable'>
                            <tr>
                                <td><h5>Strength</h5></td>
                                <td><p>{{ monster['strength'] }}</p></td>
                            </tr>
                            <tr>
                                <td><h5>Dexterity</h5></td>
                                <td><p>{{ monster['dexterity'] }}</p></td>
                            </tr>
                            <tr>
                                <td><h5>Intelligence</h5></td>
                                <td><p>{{ monster['intelligence'] }}</p></td>
                            </tr>
                            <tr>
                                <td><h5>Constitution</h5></td>
                                <td><p>{{ monster['constitution'] }}</p></td>
                            </tr>
                            <tr>
                                <td><h5>Luck</h5></td>
                                <td><p>{{ monster['luck'] }}</p></td>
                            </tr>
                        </table>

                    </div>

                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}

{% block script %}

<script type='text/javascript' src='{{ url_for("static", filename="jquery.js") }}'></script>

<script>

    $(function() {

        $('#popupButton').on('click', function(){
            $('.popupParent').attr('hidden', true);
        });

        $('.resizeImg128').on('click', function(){
            var dungeonTier = $(this).attr('dungeonTier');

            $.ajax({
                type: 'POST',
                url: '{{ url_for("startDungeon") }}',
                data: {'dungeonTier': dungeonTier},
                complete: function (textStatus) {
                    status = textStatus.status

                    if(status == 201)
                        $('.popupParent').removeAttr('hidden');
                    else if(status == 202)
                        window.location = '{{ url_for("travel") }}';
                    else if(status == 203)
                        window.location = '{{ url_for("results") }}';
                }
            });
        });
    })

</script>
{% endblock %}