{% extends 'basePlusNavbar.html' %}

{% block head %}
    <title>Dungeons</title>
{% endblock %}

{% block body %}
<body class='background_dungeons'>

    <div class='header border spacing'>
        <h1>Dungeons</h1>
    </div>

    <div id='container'>
        
        <div>
            <div class='infoPanel background border spacing'>
                <img class='iconImg' src='/static/icons/icon_key.png'>
                <p><strong>3 / 3</strong></p>
                <p>(Resets Daily)</p>
            </div>
        </div>

        <div>
            <div class='sidePanel background border spacing'>
                

                <div>

                    <h4 class='alignCenter'><strong>Forgotten Dungeon</strong></h4>
                    <h5 class='alignCenter'><strong>Floor</strong> 1 / 15</h5>

                    <hr>

                    <img class='resizeImg128' src='/static/non_quest_avatars/dungeon_blaze.png'>

                    <h3 class='alignCenter'><strong>Blaze</strong> (5)</h3>
                    <h5 class='alignCenter'><strong>Fire Mage</strong></h5>

                    <hr>

                    <table class='leftRightTable'>
                        <tr>
                            <td><h5>Strength</h5></td>
                            <td><p>8</p></td>
                        </tr>
                        <tr>
                            <td><h5>Dexterity</h5></td>
                            <td><p>29</p></td>
                        </tr>
                        <tr>
                            <td><h5>Intelligence</h5></td>
                            <td><p>9</p></td>
                        </tr>
                        <tr>
                            <td><h5>Constitution</h5></td>
                            <td><p>22</p></td>
                        </tr>
                        <tr>
                            <td><h5>Luck</h5></td>
                            <td><p>13</p></td>
                        </tr>
                    </table>

                    <hr>

                    <button class='themeMediumButton'>Delve</button>

                </div>

            </div>

            <div class='sidePanel background border spacing'>
                <div>

                    <h4 class='alignCenter'><strong>Magical Dungeon</strong></h4>
                    <h5 class='alignCenter'><strong>Floor</strong> 1 / 15</h5>

                    <hr>

                    <img class='resizeImg128' src='/static/non_quest_avatars/dungeon_crant.png'>

                    <h3 class='alignCenter'><strong>Crant</strong> (8)</h3>
                    <h5 class='alignCenter'><strong>Rogue</strong></h5>

                    <hr>

                    <table class='leftRightTable'>
                        <tr>
                            <td><h5>Strength</h5></td>
                            <td><p>8</p></td>
                        </tr>
                        <tr>
                            <td><h5>Dexterity</h5></td>
                            <td><p>29</p></td>
                        </tr>
                        <tr>
                            <td><h5>Intelligence</h5></td>
                            <td><p>9</p></td>
                        </tr>
                        <tr>
                            <td><h5>Constitution</h5></td>
                            <td><p>22</p></td>
                        </tr>
                        <tr>
                            <td><h5>Luck</h5></td>
                            <td><p>13</p></td>
                        </tr>
                    </table>

                    <hr>

                    <button class='themeMediumButton'>Delve</button>

                </div>
                
            </div>

            <div class='sidePanel background border spacing'>
                <div>

                    <h4 class='alignCenter'><strong>Dark Dungeon</strong></h4>
                    <h5 class='alignCenter'><strong>Floor</strong> 1 / 15</h5>

                    <hr>

                    <img class='resizeImg128' src='/static/non_quest_avatars/dungeon_dark_one.png'>

                    <h3 class='alignCenter'><strong>The Dark One</strong> (10)</h3>
                    <h5 class='alignCenter'><strong>Dark Mage</strong></h5>

                    <hr>

                    <table class='leftRightTable'>
                        <tr>
                            <td><h5>Strength</h5></td>
                            <td><p>8</p></td>
                        </tr>
                        <tr>
                            <td><h5>Dexterity</h5></td>
                            <td><p>29</p></td>
                        </tr>
                        <tr>
                            <td><h5>Intelligence</h5></td>
                            <td><p>9</p></td>
                        </tr>
                        <tr>
                            <td><h5>Constitution</h5></td>
                            <td><p>22</p></td>
                        </tr>
                        <tr>
                            <td><h5>Luck</h5></td>
                            <td><p>13</p></td>
                        </tr>
                    </table>

                    <hr>

                    <button class='themeMediumButton'>Delve</button>

                </div>
                
            </div>

            <div class='sidePanel background border spacing'>
                <div>

                    <h4 class='alignCenter'><strong>Mystical Dungeon</strong></h4>
                    <h5 class='alignCenter'><strong>Floor</strong> 1 / 15</h5>

                    <hr>

                    <img class='resizeImg128' src='/static/non_quest_avatars/dungeon_dead_king.png'>

                    <h3 class='alignCenter'><strong>Dead King</strong> (15)</h3>
                    <h5 class='alignCenter'><strong>Warrior</strong></h5>

                    <hr>

                    <table class='leftRightTable'>
                        <tr>
                            <td><h5>Strength</h5></td>
                            <td><p>8</p></td>
                        </tr>
                        <tr>
                            <td><h5>Dexterity</h5></td>
                            <td><p>29</p></td>
                        </tr>
                        <tr>
                            <td><h5>Intelligence</h5></td>
                            <td><p>9</p></td>
                        </tr>
                        <tr>
                            <td><h5>Constitution</h5></td>
                            <td><p>22</p></td>
                        </tr>
                        <tr>
                            <td><h5>Luck</h5></td>
                            <td><p>13</p></td>
                        </tr>
                    </table>

                    <hr>

                    <button class='themeMediumButton'>Delve</button>

                </div>
                
            </div>
        </div>

    </div>
	
{% endblock %}