{% extends 'basePlusNavbar.html' %}

{% block head %}
    <title>Gathering</title>
{% endblock %}

{% block body %}
<body class='background_gathering'>
    
    <div id='container'>
        
        <div class='infoPanel background border spacing'>
            
            <div>
                <img class='iconImg' src='/static/icons/icon_stamina.png'>
                <p><strong>100 / 100</strong></p>
                <p>(Resets Daily)</p>
            </div>
            
            <div id='resourcesWood' class='divSameLineElements'>
                <img class='iconImg' src='/static/resources/icon_wood_oak.png'>
                <h5>6</h5>
                <img class='iconImg' src='/static/resources/icon_wood_maple.png'>
                <h5>6</h5>
                <img class='iconImg' src='/static/resources/icon_wood_elm.png'>
                <h5>6</h5>
                <img class='iconImg' src='/static/resources/icon_wood_cherry.png'>
                <h5>6</h5>
            </div>

            <div hidden id='resourcesMine' class='divSameLineElements'>
                <img class='iconImg' src='/static/resources/icon_mine_stone.png'>
                <h5>6</h5>
                <img class='iconImg' src='/static/resources/icon_mine_copper.png'>
                <h5>6</h5>
                <img class='iconImg' src='/static/resources/icon_mine_iron.png'>
                <h5>6</h5>
                <img class='iconImg' src='/static/resources/icon_mine_diamond.png'>
                <h5>6</h5>
            </div>

            <div hidden id='resourcesDig' class='divSameLineElements'>
                <img class='iconImg' src='/static/resources/icon_dig_dirt.png'>
                <h5>6</h5>
                <img class='iconImg' src='/static/resources/icon_dig_sand.png'>
                <h5>6</h5>
                <img class='iconImg' src='/static/resources/icon_dig_clay.png'>
                <h5>6</h5>
                <img class='iconImg' src='/static/resources/icon_dig_cement.png'>
                <h5>6</h5>
            </div>

            <div class='spacing'>
                <button class='themeSmallButton' onclick='changeTab("Wood")'>Woodcutting</button>
                <button class='themeSmallButton' onclick='changeTab("Mine")'>Mining</button>
                <button class='themeSmallButton' onclick='changeTab("Dig")'>Excavation</button>
            </div>

        </div>

        <!-- Woodcutting -->
        <div id='optionsWood'>

            <div class='sidePanel background border spacing'>

                <div>
                    <img class='resizeImg128' src='/static/resources/icon_wood_oak.png'>
    
                    <h3 class='alignCenter'><strong>Oak Wood</strong></h3>
                    <h5 class='alignCenter'><strong>Tier 1</strong></h5>
    
                    <hr>
    
                    <table class='alignCenter'>
                        <tr>
                            <td>
                                <img class='iconImg' src='/static/resources/icon_wood_oak.png'>
                                <p>55</p>
                            </td>
                            <td>
                                <img class='iconImg' src='/static/icons/icon_xp.png'>
                                <p>25</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img class='iconImg' src='/static/icons/icon_stamina.png'>
                                <p>6</p>
                            </td>
                            <td>
                                <img class='iconImg' src='/static/icons/icon_time.png'>
                                <p>0:50</p>
                            </td>
                        </tr>
                    </table>

                    <hr>

                    <button class='themeMediumButton'>Gather</button>
                </div>
            </div>

            <div class='sidePanel background border spacing'>

                <div>
                    <img class='resizeImg128' src='/static/resources/icon_wood_maple.png'>
    
                    <h3 class='alignCenter'><strong>Maple Wood</strong></h3>
                    <h5 class='alignCenter'><strong>Tier 2</strong></h5>
    
                    <hr>
    
                    <table class='alignCenter'>
                        <tr>
                            <td>
                                <img class='iconImg' src='/static/resources/icon_wood_maple.png'>
                                <p>55</p>
                            </td>
                            <td>
                                <img class='iconImg' src='/static/icons/icon_xp.png'>
                                <p>25</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img class='iconImg' src='/static/icons/icon_stamina.png'>
                                <p>6</p>
                            </td>
                            <td>
                                <img class='iconImg' src='/static/icons/icon_time.png'>
                                <p>0:50</p>
                            </td>
                        </tr>
                    </table>

                    <hr>

                    <button class='themeMediumButton'>Gather</button>
                </div>
            </div>

            <div class='sidePanel background border spacing'>

                <div>
                    <img class='resizeImg128' src='/static/resources/icon_wood_elm.png'>
    
                    <h3 class='alignCenter'><strong>Elm Wood</strong></h3>
                    <h5 class='alignCenter'><strong>Tier 3</strong></h5>
    
                    <hr>
    
                    <table class='alignCenter'>
                        <tr>
                            <td>
                                <img class='iconImg' src='/static/resources/icon_wood_elm.png'>
                                <p>55</p>
                            </td>
                            <td>
                                <img class='iconImg' src='/static/icons/icon_xp.png'>
                                <p>25</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img class='iconImg' src='/static/icons/icon_stamina.png'>
                                <p>6</p>
                            </td>
                            <td>
                                <img class='iconImg' src='/static/icons/icon_time.png'>
                                <p>0:50</p>
                            </td>
                        </tr>
                    </table>

                    <hr>

                    <button class='themeMediumButton'>Gather</button>
                </div>
            </div>

            <div class='sidePanel background border spacing'>

                <div>
                    <img class='resizeImg128' src='/static/resources/icon_wood_cherry.png'>
    
                    <h3 class='alignCenter'><strong>Cherry Wood</strong></h3>
                    <h5 class='alignCenter'><strong>Tier 4</strong></h5>
    
                    <hr>
    
                    <table class='alignCenter'>
                        <tr>
                            <td>
                                <img class='iconImg' src='/static/resources/icon_wood_cherry.png'>
                                <p>55</p>
                            </td>
                            <td>
                                <img class='iconImg' src='/static/icons/icon_xp.png'>
                                <p>25</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img class='iconImg' src='/static/icons/icon_stamina.png'>
                                <p>6</p>
                            </td>
                            <td>
                                <img class='iconImg' src='/static/icons/icon_time.png'>
                                <p>0:50</p>
                            </td>
                        </tr>
                    </table>

                    <hr>

                    <button class='themeMediumButton'>Gather</button>
                </div>
            </div>

        </div>

        <!-- Mining -->
        <div hidden id='optionsMine'>

            <div class='sidePanel background border spacing'>

                <div>
                    <img class='resizeImg128' src='/static/resources/icon_mine_stone.png'>

                    <h3 class='alignCenter'><strong>Stone</strong></h3>
                    <h5 class='alignCenter'><strong>Tier 1</strong></h5>

                    <hr>

                    <table class='alignCenter'>
                        <tr>
                            <td>
                                <img class='iconImg' src='/static/resources/icon_mine_stone.png'>
                                <p>55</p>
                            </td>
                            <td>
                                <img class='iconImg' src='/static/icons/icon_xp.png'>
                                <p>25</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img class='iconImg' src='/static/icons/icon_stamina.png'>
                                <p>6</p>
                            </td>
                            <td>
                                <img class='iconImg' src='/static/icons/icon_time.png'>
                                <p>0:50</p>
                            </td>
                        </tr>
                    </table>

                    <hr>

                    <button class='themeMediumButton'>Gather</button>
                </div>
            </div>

            <div class='sidePanel background border spacing'>

                <div>
                    <img class='resizeImg128' src='/static/resources/icon_mine_copper.png'>

                    <h3 class='alignCenter'><strong>Copper</strong></h3>
                    <h5 class='alignCenter'><strong>Tier 2</strong></h5>

                    <hr>

                    <table class='alignCenter'>
                        <tr>
                            <td>
                                <img class='iconImg' src='/static/resources/icon_mine_copper.png'>
                                <p>55</p>
                            </td>
                            <td>
                                <img class='iconImg' src='/static/icons/icon_xp.png'>
                                <p>25</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img class='iconImg' src='/static/icons/icon_stamina.png'>
                                <p>6</p>
                            </td>
                            <td>
                                <img class='iconImg' src='/static/icons/icon_time.png'>
                                <p>0:50</p>
                            </td>
                        </tr>
                    </table>

                    <hr>

                    <button class='themeMediumButton'>Gather</button>
                </div>
            </div>

            <div class='sidePanel background border spacing'>

                <div>
                    <img class='resizeImg128' src='/static/resources/icon_mine_iron.png'>

                    <h3 class='alignCenter'><strong>Iron</strong></h3>
                    <h5 class='alignCenter'><strong>Tier 3</strong></h5>

                    <hr>

                    <table class='alignCenter'>
                        <tr>
                            <td>
                                <img class='iconImg' src='/static/resources/icon_mine_iron.png'>
                                <p>55</p>
                            </td>
                            <td>
                                <img class='iconImg' src='/static/icons/icon_xp.png'>
                                <p>25</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img class='iconImg' src='/static/icons/icon_stamina.png'>
                                <p>6</p>
                            </td>
                            <td>
                                <img class='iconImg' src='/static/icons/icon_time.png'>
                                <p>0:50</p>
                            </td>
                        </tr>
                    </table>

                    <hr>

                    <button class='themeMediumButton'>Gather</button>
                </div>
            </div>

            <div class='sidePanel background border spacing'>

                <div>
                    <img class='resizeImg128' src='/static/resources/icon_mine_diamond.png'>

                    <h3 class='alignCenter'><strong>Diamond</strong></h3>
                    <h5 class='alignCenter'><strong>Tier 4</strong></h5>

                    <hr>

                    <table class='alignCenter'>
                        <tr>
                            <td>
                                <img class='iconImg' src='/static/resources/icon_mine_diamond.png'>
                                <p>55</p>
                            </td>
                            <td>
                                <img class='iconImg' src='/static/icons/icon_xp.png'>
                                <p>25</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img class='iconImg' src='/static/icons/icon_stamina.png'>
                                <p>6</p>
                            </td>
                            <td>
                                <img class='iconImg' src='/static/icons/icon_time.png'>
                                <p>0:50</p>
                            </td>
                        </tr>
                    </table>

                    <hr>

                    <button class='themeMediumButton'>Gather</button>
                </div>
            </div>

        </div>

        <!-- Digging -->
        <div hidden id='optionsDig'>

            <div class='sidePanel background border spacing'>

                <div>
                    <img class='resizeImg128' src='/static/resources/icon_dig_dirt.png'>

                    <h3 class='alignCenter'><strong>Dirt</strong></h3>
                    <h5 class='alignCenter'><strong>Tier 1</strong></h5>

                    <hr>

                    <table class='alignCenter'>
                        <tr>
                            <td>
                                <img class='iconImg' src='/static/resources/icon_dig_dirt.png'>
                                <p>55</p>
                            </td>
                            <td>
                                <img class='iconImg' src='/static/icons/icon_xp.png'>
                                <p>25</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img class='iconImg' src='/static/icons/icon_stamina.png'>
                                <p>6</p>
                            </td>
                            <td>
                                <img class='iconImg' src='/static/icons/icon_time.png'>
                                <p>0:50</p>
                            </td>
                        </tr>
                    </table>

                    <hr>

                    <button class='themeMediumButton'>Gather</button>
                </div>
            </div>

            <div class='sidePanel background border spacing'>

                <div>
                    <img class='resizeImg128' src='/static/resources/icon_dig_sand.png'>

                    <h3 class='alignCenter'><strong>Sand</strong></h3>
                    <h5 class='alignCenter'><strong>Tier 2</strong></h5>

                    <hr>

                    <table class='alignCenter'>
                        <tr>
                            <td>
                                <img class='iconImg' src='/static/resources/icon_dig_sand.png'>
                                <p>55</p>
                            </td>
                            <td>
                                <img class='iconImg' src='/static/icons/icon_xp.png'>
                                <p>25</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img class='iconImg' src='/static/icons/icon_stamina.png'>
                                <p>6</p>
                            </td>
                            <td>
                                <img class='iconImg' src='/static/icons/icon_time.png'>
                                <p>0:50</p>
                            </td>
                        </tr>
                    </table>

                    <hr>

                    <button class='themeMediumButton'>Gather</button>
                </div>
            </div>

            <div class='sidePanel background border spacing'>

                <div>
                    <img class='resizeImg128' src='/static/resources/icon_dig_clay.png'>

                    <h3 class='alignCenter'><strong>Clay</strong></h3>
                    <h5 class='alignCenter'><strong>Tier 3</strong></h5>

                    <hr>

                    <table class='alignCenter'>
                        <tr>
                            <td>
                                <img class='iconImg' src='/static/resources/icon_dig_clay.png'>
                                <p>55</p>
                            </td>
                            <td>
                                <img class='iconImg' src='/static/icons/icon_xp.png'>
                                <p>25</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img class='iconImg' src='/static/icons/icon_stamina.png'>
                                <p>6</p>
                            </td>
                            <td>
                                <img class='iconImg' src='/static/icons/icon_time.png'>
                                <p>0:50</p>
                            </td>
                        </tr>
                    </table>

                    <hr>

                    <button class='themeMediumButton'>Gather</button>
                </div>
            </div>

            <div class='sidePanel background border spacing'>

                <div>
                    <img class='resizeImg128' src='/static/resources/icon_dig_cement.png'>

                    <h3 class='alignCenter'><strong>Cement</strong></h3>
                    <h5 class='alignCenter'><strong>Tier 4</strong></h5>

                    <hr>

                    <table class='alignCenter'>
                        <tr>
                            <td>
                                <img class='iconImg' src='/static/resources/icon_dig_cement.png'>
                                <p>55</p>
                            </td>
                            <td>
                                <img class='iconImg' src='/static/icons/icon_xp.png'>
                                <p>25</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img class='iconImg' src='/static/icons/icon_stamina.png'>
                                <p>6</p>
                            </td>
                            <td>
                                <img class='iconImg' src='/static/icons/icon_time.png'>
                                <p>0:50</p>
                            </td>
                        </tr>
                    </table>

                    <hr>

                    <button class='themeMediumButton'>Gather</button>
                </div>
            </div>

        </div>
        
    </div>
	
{% endblock %}

{% block script %}
<script>

    function changeTab(id) {
        var types = ['Wood','Mine','Dig']

        types.forEach(type => {
            if(type == id)
                showDiv(type)
            else
                hideDiv(type)
        });
    }

    function showDiv(id){
        document.getElementById('resources' + id).hidden = false
        document.getElementById('options' + id).hidden = false
    }

    function hideDiv(id){
        document.getElementById('resources' + id).hidden = true
        document.getElementById('options' + id).hidden = true
    }

</script>
{% endblock %}