{% extends 'base.html' %}

{% block head %}
    <title>Test</title>
{% endblock %}

{% block body %}
    <h1>My first web page yay!</h1>
    <a href="{{ url_for('about') }}">Goto About</a>

    <div class="row">
        <form action="." method="POST">
            <textarea class="form-control" name="contents" placeholder="Enter a comment"></textarea>
            <input type="submit" class="btn btn-success" value="Post comment">
        </form>
    </div>

    {% for comment in comments %}
        <div class="row">
            {{ comment }}
        </div>
    {% endfor %}
    
{% endblock %}