{% extends 'basePlusNavbar.html' %}

{% block head %}
    <title>Offerings</title>
{% endblock %}

{% block body %}
<body class='background_offerings'>

    <div id='container'>

        <div class='infoPanel background border spacing'>    
            <h4>Pick Your Daily Blessing</h4>
        </div>

        <div>

            <div class='sidePanel background border spacing'>
                <div>

                    <img class='resizeImg128' src='/static/offering_avatars/xp.png'>

                    <h3 class='alignCenter'><strong>Kli'Far</strong></h3>
                    <h5 class='alignCenter'>Wisdom</h5>

                    <hr>

                    <p>Additional 1.5x Experience</p>

                    <hr>

                    <button class='themeMediumButton'>Bless</button>

                </div>
            </div>

            <div class='sidePanel background borderSelected spacing'>
                <div>

                    <img class='resizeImg128' src='/static/offering_avatars/gold.png'>

                    <h3 class='alignCenter'><strong>Trax'Or</strong></h3>
                    <h5 class='alignCenter'>Pleasure</h5>

                    <hr>

                    <p>Additional 1.5x Gold</p>

                    <hr>

                    <button class='themeMediumButton'>Bless</button>

                </div>
            </div>

            <div class='sidePanel background border spacing'>
                <div>

                    <img class='resizeImg128' src='/static/offering_avatars/resources.png'>

                    <h3 class='alignCenter'><strong>Mal'Ik</strong></h3>
                    <h5 class='alignCenter'>Nature</h5>

                    <hr>

                    <p>2x Resources from Gathering</p>

                    <hr>

                    <button class='themeMediumButton'>Bless</button>

                </div>
            </div>

        </div>

        <div>

            <div class='sidePanel background border spacing'>
                <div>

                    <img class='resizeImg128' src='/static/offering_avatars/stat.png'>

                    <h3 class='alignCenter'><strong>Shree'La</strong></h3>
                    <h5 class='alignCenter'>Strength</h5>

                    <hr>

                    <p>1.1x Boost to All Stats</p>

                    <hr>

                    <button class='themeMediumButton'>Bless</button>

                </div>
            </div>

            <div class='sidePanel background border spacing'>
                <div>

                    <img class='resizeImg128' src='/static/offering_avatars/loot.png'>

                    <h3 class='alignCenter'><strong>Pron'Fre</strong></h3>
                    <h5 class='alignCenter'>Treasure</h5>

                    <hr>

                    <p>10% Additional Drop Chance</p>

                    <hr>

                    <button class='themeMediumButton'>Bless</button>

                </div>
            </div>

        </div>

    </div>
	
{% endblock %}