{% extends 'basePlusNavbar.html' %}

{% block head %}
    <title>Offerings</title>
{% endblock %}

{% block body %}
<body class='background_offerings'>

    <div id='container'>

        <div class='infoPanel background border spacing'>    
            <h4>Pick Your Daily Blessing</h4>
        </div>

        <div hidden class='popupParent'>
            <div class='background border spacing popupChild'>
                <h3>You have already been blessed for today</h3>
                <button id='popupButton' class='themeSmallButton'>No U</button>
            </div>
        </div>

        <div>

            {% if active == 'xp' %}
                <div class='sidePanel background borderSelected spacing'>
            {% else %}
                <div id='lol' class='sidePanel background border spacing'>
            {% endif %}
                <div>

                    <img class='resizeImg128' blessing='xp' src='/static/offering_avatars/xp.png'>

                    <h3 class='alignCenter'><strong>Kli'Far</strong></h3>
                    <h5 class='alignCenter'>Wisdom</h5>

                    <hr>

                    <p>Additional 1.5x Experience</p>

                </div>
            </div>

            {% if active == 'gold' %}
                <div class='sidePanel background borderSelected spacing'>
            {% else %}
                <div class='sidePanel background border spacing'>
            {% endif %}
                <div>

                    <img class='resizeImg128' blessing='gold' src='/static/offering_avatars/gold.png'>

                    <h3 class='alignCenter'><strong>Trax'Or</strong></h3>
                    <h5 class='alignCenter'>Pleasure</h5>

                    <hr>

                    <p>Additional 1.5x Gold</p>

                </div>
            </div>

        </div>

        <div>

            {% if active == 'stats' %}
                <div class='sidePanel background borderSelected spacing'>
            {% else %}
                <div class='sidePanel background border spacing'>
            {% endif %}
                <div>

                    <img class='resizeImg128' blessing='stats' src='/static/offering_avatars/stat.png'>

                    <h3 class='alignCenter'><strong>Shree'La</strong></h3>
                    <h5 class='alignCenter'>Strength</h5>

                    <hr>

                    <p>1.1x Boost to All Stats</p>

                </div>
            </div>

            {% if active == 'drops' %}
                <div class='sidePanel background borderSelected spacing'>
            {% else %}
                <div class='sidePanel background border spacing'>
            {% endif %}
                <div>

                    <img class='resizeImg128' blessing='drops' src='/static/offering_avatars/loot.png'>

                    <h3 class='alignCenter'><strong>Pron'Fre</strong></h3>
                    <h5 class='alignCenter'>Treasure</h5>

                    <hr>

                    <p>20% Additional Drop Chance</p>

                </div>
            </div>

        </div>

    </div>
	
{% endblock %}

{% block script %}

<script type='text/javascript' src='{{ url_for("static", filename="jquery.js") }}'></script>

<script>

$(function() {

    $('#popupButton').on('click', function(){
        $('.popupParent').attr('hidden', true);
    });

    $('.resizeImg128').on('click', function(){
        var blessingType = $(this).attr('blessing')
        var blessingImg = $(this)

        $.ajax({
            type: 'POST',
            url: '{{ url_for("applyBlessing") }}',
            data: {'blessingType': blessingType},
            success: function (response) {
                if(response == 'ALREADY_BLESSED')
                    $('.popupParent').removeAttr('hidden');
                else{
                    $(blessingImg).parent().parent().addClass('borderSelected')

                }
            }
        });
    });

});

</script>

{% endblock %}