{% extends 'basePlusNavbar.html' %}

{% block head %}
    <title>Quests</title>
{% endblock %}

{% block body %}
<body class='background_quests'>

    <div id='container'>

        <div>
            <div class='infoPanel background border spacing'>
                <img class='iconImg' src='/static/icons/icon_stamina.png'>
                <p><strong>100 / 100</strong></p>
                <p>(Resets Daily)</p>
            </div>
        </div>

        <div>
            {% for monster in questMonsters %}
            
            <div class='sidePanel background border spacing'>
                <div>

                    <img class='resizeImg128' buttonId='{{ monster["quest_monster_id"] }}' src='/static/quest_avatars/{{ monster["file_name"] }}'>

                    <h3 class='alignCenter bold'>{{ monster["monster_name"] }}</h3>
                    <h5 class='alignCenter bold'>{{ monster["class_name"] }}</h5>

                    <hr>

                    <table class='alignCenter'>
                        <tr>
                            <td>
                                <img class='iconImg' src='/static/icons/icon_gold.png'>
                                <p>{{ monster["gold"] }}</p>
                            </td>
                            <td>
                                <img class='iconImg' src='/static/icons/icon_xp.png'>
                                <p>{{ monster["xp"] }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img class='iconImg' src='/static/icons/icon_stamina.png'>
                                <p>{{ monster["stamina"] }}</p>
                            </td>
                            <td>
                                <img class='iconImg' src='/static/icons/icon_time.png'>
                                <p>{{ monster["travel_time"] }}</p>
                            </td>
                        </tr>
                    </table>

                    <hr>

                    <table class='leftRightTable'>
                        <tr>
                            <td><h5>Strength</h5></td>
                            <td><p>{{ monster["strength"] }}</p></td>
                        </tr>
                        <tr>
                            <td><h5>Dexterity</h5></td>
                            <td><p>{{ monster["dexterity"] }}</p></td>
                        </tr>
                        <tr>
                            <td><h5>Intelligence</h5></td>
                            <td><p>{{ monster["intelligence"] }}</p></td>
                        </tr>
                        <tr>
                            <td><h5>Constitution</h5></td>
                            <td><p>{{ monster["constitution"] }}</p></td>
                        </tr>
                        <tr>
                            <td><h5>Luck</h5></td>
                            <td><p>{{ monster["luck"] }}</p></td>
                        </tr>
                    </table>

                </div>
            </div>

            {% endfor %}

        </div>
    </div>
	
{% endblock %}

{% block script %}

<script type='text/javascript' src='{{ url_for("static", filename="jquery.js") }}'></script>

<script>

    $(function() {
        $('.resizeImg128').on('click', function(){
            var monsterId = $(this).attr('buttonId');

            $.ajax({
                type: 'POST',
                url: '{{ url_for("startQuest") }}',
                data: {'monsterId': monsterId},
                success: function (response) {
                    window.location = '{{ url_for("travel") }}';
                }
            })
        })
    })

</script>
{% endblock %}