{% extends 'basePlusNavbar.html' %}

{% block head %}
    <title>Quests</title>
{% endblock %}

{% block body %}
<body class='background_quests'>

    <div class='header border spacing'>
        <h1>Quests</h1>
    </div>

    <div id='container'>

        <div>
            <div class='infoPanel background border spacing'>
                <img class='iconImg' src='/static/icons/icon_stamina.png'>
                <p><strong>100 / 100</strong></p>
                <p>(Resets Daily)</p>
            </div>
        </div>

        <div>
            <div class='sidePanel background border spacing'>
                <div>

                    <img class='resizeImg128' src='/static/quest_avatars/banshee.png'>

                    <h3 class='alignCenter'><strong>Banshee</strong></h3>
                    <h5 class='alignCenter'><strong>Dark Mage</strong></h5>

                    <hr>

                    <table>
                        <tr>
                            <td><img class='iconImg' src='/static/icons/icon_gold.png'></td>
                            <td><p>55</p></td>
                            <td><img class='iconImg' src='/static/icons/icon_xp.png'></td>
                            <td><p>25</p></td>
                        </tr>
                        <tr>
                            <td><img class='iconImg' src='/static/icons/icon_stamina.png'></td>
                            <td><p>6</p></td>
                            <td><img class='iconImg' src='/static/icons/icon_time.png'></td>
                            <td><p>0:50</p></td>
                        </tr>
                    </table>

                    <hr>

                    <table class='leftRightTable'>
                        <tr>
                            <td><h5>Strength</h5></td>
                            <td><p>8</p></td>
                        </tr>
                        <tr>
                            <td><h5>Dexterity</h5></td>
                            <td><p>29</p></td>
                        </tr>
                        <tr>
                            <td><h5>Intelligence</h5></td>
                            <td><p>9</p></td>
                        </tr>
                        <tr>
                            <td><h5>Constitution</h5></td>
                            <td><p>22</p></td>
                        </tr>
                        <tr>
                            <td><h5>Luck</h5></td>
                            <td><p>13</p></td>
                        </tr>
                    </table>

                    <hr>

                    <button class='themeMediumButton'>Accept</button>

                </div>
            </div>

            <div class='sidePanel background border spacing'>
                <div>

                    <img class='resizeImg128' src='/static/quest_avatars/bat.png'>

                    <h3 class='alignCenter'><strong>Bat</strong></h3>
                    <h5 class='alignCenter'><strong>Rogue</strong></h5>

                    <hr>

                    <table>
                        <tr>
                            <td><img class='iconImg' src='/static/icons/icon_gold.png'></td>
                            <td><p>55</p></td>
                            <td><img class='iconImg' src='/static/icons/icon_xp.png'></td>
                            <td><p>25</p></td>
                        </tr>
                        <tr>
                            <td><img class='iconImg' src='/static/icons/icon_stamina.png'></td>
                            <td><p>6</p></td>
                            <td><img class='iconImg' src='/static/icons/icon_time.png'></td>
                            <td><p>0:50</p></td>
                        </tr>
                    </table>

                    <hr>

                    <table class='leftRightTable'>
                        <tr>
                            <td><h5>Strength</h5></td>
                            <td><p>8</p></td>
                        </tr>
                        <tr>
                            <td><h5>Dexterity</h5></td>
                            <td><p>29</p></td>
                        </tr>
                        <tr>
                            <td><h5>Intelligence</h5></td>
                            <td><p>9</p></td>
                        </tr>
                        <tr>
                            <td><h5>Constitution</h5></td>
                            <td><p>22</p></td>
                        </tr>
                        <tr>
                            <td><h5>Luck</h5></td>
                            <td><p>13</p></td>
                        </tr>
                    </table>

                    <hr>

                    <button class='themeMediumButton'>Accept</button>

                </div>
            </div>

            <div class='sidePanel background border spacing'>
                <div>

                    <img class='resizeImg128' src='/static/quest_avatars/bird.png'>

                    <h3 class='alignCenter'><strong>Bird</strong></h3>
                    <h5 class='alignCenter'><strong>Assassin</strong></h5>

                    <hr>

                    <table>
                        <tr>
                            <td><img class='iconImg' src='/static/icons/icon_gold.png'></td>
                            <td><p>55</p></td>
                            <td><img class='iconImg' src='/static/icons/icon_xp.png'></td>
                            <td><p>25</p></td>
                        </tr>
                        <tr>
                            <td><img class='iconImg' src='/static/icons/icon_stamina.png'></td>
                            <td><p>6</p></td>
                            <td><img class='iconImg' src='/static/icons/icon_time.png'></td>
                            <td><p>0:50</p></td>
                        </tr>
                    </table>

                    <hr>

                    <table class='leftRightTable'>
                        <tr>
                            <td><h5>Strength</h5></td>
                            <td><p>8</p></td>
                        </tr>
                        <tr>
                            <td><h5>Dexterity</h5></td>
                            <td><p>29</p></td>
                        </tr>
                        <tr>
                            <td><h5>Intelligence</h5></td>
                            <td><p>9</p></td>
                        </tr>
                        <tr>
                            <td><h5>Constitution</h5></td>
                            <td><p>22</p></td>
                        </tr>
                        <tr>
                            <td><h5>Luck</h5></td>
                            <td><p>13</p></td>
                        </tr>
                    </table>

                    <hr>

                    <button class='themeMediumButton'>Accept</button>

                </div>
            </div>

            <div class='sidePanel background border spacing'>
                <div>

                    <img class='resizeImg128' src='/static/quest_avatars/goblin (5).png'>

                    <h3 class='alignCenter'><strong>Goblin</strong></h3>
                    <h5 class='alignCenter'><strong>Rogue</strong></h5>

                    <hr>

                    <table>
                        <tr>
                            <td><img class='iconImg' src='/static/icons/icon_gold.png'></td>
                            <td><p>55</p></td>
                            <td><img class='iconImg' src='/static/icons/icon_xp.png'></td>
                            <td><p>25</p></td>
                        </tr>
                        <tr>
                            <td><img class='iconImg' src='/static/icons/icon_stamina.png'></td>
                            <td><p>6</p></td>
                            <td><img class='iconImg' src='/static/icons/icon_time.png'></td>
                            <td><p>0:50</p></td>
                        </tr>
                    </table>

                    <hr>

                    <table class='leftRightTable'>
                        <tr>
                            <td><h5>Strength</h5></td>
                            <td><p>8</p></td>
                        </tr>
                        <tr>
                            <td><h5>Dexterity</h5></td>
                            <td><p>29</p></td>
                        </tr>
                        <tr>
                            <td><h5>Intelligence</h5></td>
                            <td><p>9</p></td>
                        </tr>
                        <tr>
                            <td><h5>Constitution</h5></td>
                            <td><p>22</p></td>
                        </tr>
                        <tr>
                            <td><h5>Luck</h5></td>
                            <td><p>13</p></td>
                        </tr>
                    </table>

                    <hr>

                    <button class='themeMediumButton'>Accept</button>

                </div>
            </div>
        </div>
    </div>
	
{% endblock %}