{% extends 'base.html' %}

{% block head %}
    <title>Account Creation</title>
{% endblock %}

<body>
{% block body %}
<body class='background_signin'>

    <div id='container'>

        <div class='header border spacing'>
            <h1>Noxphor Account Creation</h1>
        </div>

        <div id='signinContainer' class='background border spacing'>
            <div class='background'>
                {% if errorMessage != '' %}
                    <label id='lblErrorMessage'>{{ errorMessage }}</label>
                {% endif %}

                <form action='#' method='POST'>
                    <input type='text' class='form-control' name='username' placeholder='Username'></input>
                    <input type='text' class='form-control' name='displayName' placeholder='Display Name'></input>
                    <input type='password' class='form-control' name='password' placeholder='Password'></input>
                    <input type='password' class='form-control' name='passwordConfirm' placeholder='Confirm Password'></input>
                    <select name='season' id='season'>
                        {% for season in seasonList %}
                            <option value='{{ season["season"] }}'>World {{ season['season'] }}</option>
                        {% endfor %}
                    </select>
                    <input type='submit' class='themeSmallButton' value='Create'>
                    <p class='block textRed'>*Passwords are stores plain text! Careful!</p>
                </form>
                <a href='{{ url_for('signin') }}'>Have an account?</a>
            </div>
        </div>

    </div>
    
{% endblock %}