{% extends 'base.html' %}

{% block head %}
    <title>Sign In</title>
{% endblock %}

<body>
{% block body %}

    <div class='header border spacing'>
        <h1>Noxphor Login</h1>
    </div>

    <div id='signinContainer' class='background border spacing'>
        <div class='background'>
            {% if errorMessage != '' %}
                <label id='lblErrorMessage'>{{ errorMessage }}</label>
            {% endif %}

            <form action="#" method="POST">
                <input type='text' class="form-control" name="username" placeholder="Username"></input>
                <input type='password' class="form-control" name="password" placeholder="Password"></input>
                <input type="submit" class="themeButton" value="Login">
            </form>
            <a href="{{ url_for('signup') }}">Create Account</a>
        </div>
    </div>
    
    
{% endblock %}